################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/Labs/ЛР10/LT10/.vs
/Labs/ЛР10/LT10/bin/Debug/net8.0
/Labs/ЛР10/LT10/obj
/Labs/ЛР1/ЛР1/.idea/.idea.ЛР1/.idea
/Labs/ЛР2/ЛР1/.idea/.idea.ЛР1/.idea
/Labs/ЛР1/ЛР1/obj
/Labs/ЛР12/LT12/.vs
/Labs/ЛР12/LT12/bin/Debug/net8.0-windows
/Labs/ЛР12/LT12/obj
/Labs/ЛР13/LT13/.vs
/Labs/ЛР13/LT13/bin/Debug/net8.0-windows
/Labs/ЛР13/LT13/obj
