################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/Labs/ЛР10/LT10/.vs
/Labs/ЛР10/LT10/bin/Debug/net8.0
/Labs/ЛР10/LT10/obj
/Labs/ЛР1/ЛР1/.idea/.idea.ЛР1/.idea
/Labs/ЛР2/ЛР1/.idea/.idea.ЛР1/.idea
